<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<link rel="icon" href="images/logoFormWhite.png">
	<title>MedHealth -  Doctors</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
	<!--<link rel="stylesheet" type="text/css" href="../css/materialize.css"> -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/materialize.js"></script>
	<script type="text/javascript" src="js/MedHealth.js"></script>
	<!-- fuentes -->
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

	<style>
		#map {
		  height: 460px; 
		  width: 40%;
		  left: 60%;
		  transform: translateY(38%);
		 }
	  </style>

</head>
<body onload="appointmentForm1()">
    <div class="container">
        <div>
            <div class="NAVBAR">
				<div>
					<a href="index2"><img src="/images/logo.png" class="picpref responsive-img"></a>
					
					<hr>					
				</div>

				<p class="textoNavBar">MEDHEALTH</p>

				<p id="date">Date: <%=day%> / <%=month%> / <%=year%></p>

				<div id="av" onclick="hideav()">
					<img src="images/UserAv.png" width="75%" height="75%" onclick="hidename()">
					<p id="avtxt"> <%= fullName %> </p>
				</div>

					<div id="avconfdisp">
						<img src="images/avconf.png" width="80%" height="80%">
						<div>
							<div id="imgadd">
								<img src="images/add.png" height="10%" width="10%">
							</div>

							<p id="textconfdisp1"><%= fullName %></p>
							
							<p id="textconfdisp2">Status:<p id="textconfdisp3"><%= status %></p></p>

							<p id="textconfdisp5"><%= mail %></p>
							
							<a href="/edit"><div id="editprofile"><p id="edittxt">Edit Profile</p></div></a>
						</div>
					</div>
					
				<div id="lang" onclick="hidelang()">
					<img src="images/DropDownLang.png" height="85%" width="85%">					
				</div>
				
				<div id="langmore"><img src="images/langlist.png" height="100%" width="100%"></div>				

				<div id="location">
					<img src="images/placeholder-filled-point.png" width="5%" height="5%">
					<p id="loctext">Belgrano CABA</p>
				</div>

				<div>
					<p id="textC2"><%= medic %></p>							
				</div>

				<a href="calendar"><div id="calendar"><p id="calendartxt">Calendar</p></div></a>
				<a href="/"><div id="logout"><p id="logouttxt">Log out</p></div></a>

			</div>
			
					

			<div id="docinfo">	
				
				<div>
					<p id="nameappo">Dr. <%= findDoctor[0].name %> <%= findDoctor[0].lastName %></p>
					<hr id="up1">
				</div>
					
				<div>
					<p id="emailappo"><%= findDoctor[0].email %></p>
					<div id="imgemail"><img src="images/envelope.png" width="30px" height="30px"></div>
				</div>
				<hr id="up2">
				<div>
					<p id="addressappo"><%= findDoctor[0].address %></p>
					<div id="imgaddress"><img src="images/address.png" width="30px" height="30px"></div>
				</div>
				<hr id="up3">
				<div>
					<p id="phoneappo"><%= findDoctor[0].phoneNumber %></p>
					<div id="imgphone"><img src="images/phone.png" width="30px" height="30px"></div>
				</div>
				<hr id="up4">
				<div>
					<p id="categoryappo"><%= medic %></p>
					<div id="imgcategory"><img src="images/stethoscope2.png" width="30px" height="30px"></div>
				</div>
				<hr id="up5">

				<div id="appobutton" onclick="appointmentForm()"><p id="appobtntxt">Make an Appointment</p></div>
			</div>
			<div id="map"></div>
        </div>
	</div>

	<div id="appointmentForm" style="
	background-color: red;
	position: relative;
	transform: translateY(-40%);
	height: 400px;
	width: 80%;
	margin:0 auto;
	">
	<form action="" class="" method="POST"">
		<select class="selectpicker" data-style="btn-info" name="day">
			<optgroup label="Day">
				<option name="1" value="1">1</option>
				<option name="2" value="2">2</option>
				<option name="3" value="3">3</option>
				<option name="4" value="4">4</option>
				<option name="5" value="5">5</option>
				<option name="6" value="6">6</option>
				<option name="7" value="7">7</option>
				<option name="8" value="8">8</option>
				<option name="9" value="9">9</option>
				<option name="10" value="10">10</option>
				<option name="11" value="11">11</option>
				<option name="12" value="12">12</option>
				<option name="13" value="13">13</option>
				<option name="14" value="14">14</option>
				<option name="15" value="15">15</option>
				<option name="16" value="16">16</option>
				<option name="17" value="17">17</option>
				<option name="18" value="18">18</option>
				<option name="19" value="19">19</option>
				<option name="20" value="20">20</option>
				<option name="21" value="21">21</option>
				<option name="22" value="22">22</option>
				<option name="23" value="23">23</option>
				<option name="24" value="24">24</option>
				<option name="25" value="25">25</option>
				<option name="26" value="26">26</option>
				<option name="27" value="27">27</option>
				<option name="28" value="28">28</option>
				<option name="29" value="29">29</option>
				<option name="30" value="30">30</option>
			</optgroup>
		</select>
		<select class="selectpicker" data-style="btn-info" name="month">
			<optgroup label="Month">
				<option name="1" value="1">1</option>
				<option name="2" value="3">2</option>
				<option name="3" value="3">3</option>
				<option name="4" value="4">4</option>
				<option name="5" value="5">5</option>
				<option name="6" value="6">6</option>
				<option name="7" value="7">7</option>
				<option name="8" value="8">8</option>
				<option name="9" value="9">9</option>
				<option name="10" value="10">10</option>
				<option name="11" value="11">11</option>
				<option name="12" value="12">12</option>
			</optgroup>
		</select>
		<select class="selectpicker" data-style="btn-info" name="year">
			<optgroup label="Year">
				<option name="2019" value="2019">2019</option>
				<option name="2020" value="2020">2020</option>
				<option name="2021" value="2021">2021</option>
				<option name="2022" value="2022">2022</option>
				<option name="2023" value="2023">2023</option>
				<option name="2024" value="2024">2024</option>
				<option name="2024" value="2024">2025</option>
			</optgroup>
		</select>

		<div>
			<label>Description:</label>
			<input type="userxtx" name="event" value='Appointment with doctor <%= findDoctor[0].name %> <%= findDoctor[0].lastName %>' style="width:25%;">
		</div>

		<input type="submit" class="" value="Make the appointment">
		</form>
	</div>
	<script>
		function initMap() {
		  var buenosAires = {lat: -34.603722, lng: -58.381592};
		  var lati = parseFloat('<%= latitude %>')
		  var long = parseFloat('<%= longitude %>')
		  var doctorPos = {lat: lati, lng: long};
		  var map = new google.maps.Map(
			  document.getElementById('map'), {
				  zoom: 15,
				  //enter: buenosAires
				  center: doctorPos
			});
			var marker = new google.maps.Marker({
				position: doctorPos,
				map: map
			});
		}
	</script>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpjRjHHM3RjDfl_amqyoBopIZXD4ewkGg&callback=initMap">
	</script>

<script>
	function appointmentForm() {
	var x = document.getElementById('appointmentForm');
    if (x.style.visibility === 'hidden') {
      x.style.visibility = 'visible';
    } else {
      x.style.visibility = 'visible';
    }
}
function appointmentForm1() {
    var x = document.getElementById('appointmentForm');
    if (x.style.display === 'visible') {
      x.style.visibility = 'hidden';
    } else {
      x.style.visibility = 'hidden';
    }
}
</script>
</body>
</html>