<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="images/logoFormWhite.png">
    <title>Mis Turnos</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="../css/materialize.css"> -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript" src="js/MedHealth.js"></script>
    <!-- fuentes -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
        #calendarTitle {
            color: #ffffff00
        }
    </style>
</head>

<body>
    <div class="container">
        <div>
            <div class="NAVBAR">
                <div>
                    <a href="index2"><img src="/images/logo.png" class="picpref responsive-img"></a>

                    <hr>
                </div>

                <p class="textoNavBar">MEDHEALTH</p>

                <p id="date">Fecha:
                    <%=day%> /
                        <%=month%> /
                            <%=year%>
                </p>

                <div id="av" onclick="hideav()">
                    <img src="images/UserAv.png" width="75%" height="75%" onclick="hidename()">
                </div>

                <p id="avtxt">
                    <%= fullName %>
                </p>

                <div id="avconfdisp">
                    <img src="images/OK.png" width="80%" height="80%">
                    <div>
                        <p id="textconfdisp1">
                            <%= fullName %>
                        </p>

                        <p id="textconfdisp2">Estado:
                            <p id="textconfdisp3">
                                <%= status %>
                            </p>
                        </p>

                        <!--<p id="textconfdisp4">Appointment: 15/11</p>-->

                        <p id="textconfdisp5">
                            <%= mail %>
                        </p>

                        <a href="/edit">
                            <div id="editprofile">
                                <p id="edittxt">Editar Perfil</p>
                            </div>
                        </a>
                    </div>

                </div>

                <div id="location">
                    <img src="images/placeholder-filled-point.png" width="5%" height="5%">
                    <p id="loctext">Belgrano CABA</p>
                </div>

                <div>
                    <a href="calendar">
                        <p id="calendartxt2">MIS TURNOS</p>
                    </a>
                </div>

                <a href="/">
                    <div id="logout">
                        <p id="logouttxt">Cerrar Sesión</p>
                    </div>
                </a>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>


            <table style="border-collapse: separate; border-spacing: 100px;">
                <tbody>
                    <% for(var i = 0; sortDate2.length > i; i++) { %>
                        <tr>
                            <form action="" method="POST">
                                <div id="calendarTable" style="background-color:  <%= sortDate2[i].color %> ;">
                                    <input type="submit" name="whoMed" value="<%= sortDate2[i].doctor2 %>" id="btnMed2">
                                    <label id="textMed">Fecha: <%= sortDate2[i].date %></label>
                                    <label id="textMed2">Evento: <%= sortDate2[i].event %></label>
                                    <div id="squareappo"></div>
                                    <div id="imgposappo"><img src="images/calendar.png" height="10%" width="10%"></div>
                                    <button type="submit" name="eliminar" value="<%= sortDate2[i].id %>" style=" position: absolute; left: 94%; top: 12%; "><img src="images/cross.png" width="50px" height="50px"></button>
                                </div>
                            </form>
                        </tr>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <% } %>
                </tbody>
            </table>

            <div style="position: absolute; top: 85%; height: 100px; width: 100px;"></div>
        </div>
    </div>
</body>