<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="images/logoFormWhite.png">
    <title>Mis Turnos</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.3.1.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="../css/materialize.css"> -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript" src="js/MedHealth.js"></script>
    <!-- fuentes -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
        #calendarTitle {
            color: #ffffff00
        }
    </style>
</head>

<body>
    <div class="container">
        <div>
            <div class="NAVBAR">
                <div>
                    <a href="dashboard"><img src="/images/logo.png" class="picpref responsive-img"></a>

                    <hr>
                </div>

                <p class="textoNavBar">MEDHEALTH</p>

                <p id="date">Fecha:
                    <%=day%> /
                        <%=month%> /
                            <%=year%>
                </p>

                <div id="av" onclick="hideav()">
                    <img src="images/UserAv.png" width="75%" height="75%" onclick="hidename()">
                </div>

                <p id="avtxt">
                    <%= fullName %>
                </p>

                <div id="avconfdisp">
                    <img src="images/OK.png" width="80%" height="80%">
                    <div>
                        <p id="textconfdisp1">
                            <%= fullName %>
                        </p>

                        <p id="textconfdisp2">Estado:
                            <p id="textconfdisp3">
                                <%= status %>
                            </p>
                        </p>

                        <!--<p id="textconfdisp4">Appointment: 15/11</p>-->

                        <p id="textconfdisp5">
                            <%= mail %>
                        </p>

                        <a href="/edit">
                            <div id="editprofile">
                                <p id="edittxt">Editar Perfil</p>
                            </div>
                        </a>
                    </div>

                </div>

                <div id="location">
                    <img src="images/placeholder-filled-point.png" width="5%" height="5%">
                    <p id="loctext">Belgrano CABA</p>
                </div>

                <div>
                    <a href="calendar">
                        <p id="calendartxt2">MIS TURNOS</p>
                    </a>
                </div>

                <a href="/">
                    <div id="logout">
                        <p id="logouttxt">Cerrar Sesión</p>
                    </div>
                </a>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>


            <table style="border-collapse: separate; border-spacing: 100px;">
                <tbody>
                    <% for(var i = 0; sortDate2.length > i; i++) { %>
                        <tr>
                            <form action="" method="POST">
                                <div id="calendarTable" style="background-color:  <%= sortDate2[i].color %>;">
                                    <input type="submit" name="whoMed" value="<%= sortDate2[i].doctor %>" id="btnMed2">
                                    <label id="textMed">Fecha: <%= sortDate2[i].date %>, a las <%= sortDate2[i].hour %></label>
                                    <label id="textMed2">Evento: Turno con <%= result[0].name %> <%= result[0].lastName %> </label>
                                    <div id="squareappo"></div>
                                    <div id="imgposappo"><img src="images/calendar.png" height="10%" width="10%"></div>
                                    <!--<button type="submit" name="eliminar" value="<%= sortDate2[i].id %>" style=" position: absolute; left: 80%; top: 15%; "><img src="images/cross.png" width="50px" height="50px"></button>-->
                                    <div id="" onclick="appointmentForm()" style=" position: absolute; left: 80%; top: 15%; ">
                                        <img src="images/cross.png" width="50px" height="50px">
                                    </div>
                                    <!---->
                                    <% if (sortDate2[i].color == '#eb4034') { %>
                                        <button type="submit" name="confirmar" value="<%= sortDate2[i].id %>" style=" position: absolute; left: 70%; top: 15%; "><img src="images/tick.png" width="50px" height="50px"></button>
                                        <% } %>
                                </div>
                            </form>
                        </tr>
                        <div id="appointmentForm" style="
                                background-color: white;
                                position: absolute;
                                top: 30%;
                                left: 35%;
                                border-radius: 12px;
                                height: 250px;
                                width: 400px;
                                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
                                visibility: hidden;
                                z-index: 3;
                                ">
                            <style>
                                .select-style {
                                    position: absolute;
                                    top: 55%;
                                    left: 26%;
                                    border: 1px solid #ccc;
                                    width: 50px;
                                    border-radius: 4px;
                                    overflow: hidden;
                                }
                                
                                .select-style select {
                                    padding: 5px 8px;
                                    width: 130%;
                                    border: none;
                                    background: white;
                                    background-image: none;
                                }
                                
                                .select-style select:focus {
                                    outline: none;
                                }
                                
                                .select-style2 {
                                    position: absolute;
                                    top: 55%;
                                    left: 43%;
                                    border: 1px solid #ccc;
                                    width: 50px;
                                    border-radius: 4px;
                                    overflow: hidden;
                                }
                                
                                .select-style2 select {
                                    padding: 5px 8px;
                                    width: 130%;
                                    border: none;
                                    background: white;
                                    background-image: none;
                                }
                                
                                .select-style2 select:focus {
                                    outline: none;
                                }
                                
                                .select-style3 {
                                    position: absolute;
                                    top: 55%;
                                    left: 60%;
                                    border: 1px solid #ccc;
                                    width: 60px;
                                    border-radius: 4px;
                                    overflow: hidden;
                                }
                                
                                .select-style3 select {
                                    padding: 5px 8px;
                                    width: 130%;
                                    border: none;
                                    background: white;
                                    background-image: none;
                                }
                                
                                .select-style3 select:focus {
                                    outline: none;
                                }
                                
                                #appotitle {
                                    position: absolute;
                                    top: 2%;
                                    left: 30%;
                                    font-family: poppins;
                                    font-weight: 800;
                                    font-size: 22px;
                                    color: #000000;
                                }
                            </style>
                            <form action="" class="" method="POST">
                                <input style="width: 350px; height: 50px;" id="inputappo" type="userxtx" name="event" value='El doctor <%= fullName %> no esta disponible el dia <%= sortDate2[i].date %>, por favor volver a sacar turno en otra fecha.' style="width:25%;">
                                <button type="submit" name="eliminar" value="<%= sortDate2[i].id %>" style=" position: absolute; left: 42%; top: 70%; "><img src="images/cross.png" width="50px" height="50px"></button>
                            </form>
                            <button style=" position: absolute; left: 90%; top: 5%; "><img src="images/exit.png" width="25px" height="15px" onclick="appointmentexit()"></button>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <% } %>

                </tbody>
            </table>

            <div style="position: absolute; top: 85%; height: 100px; width: 100px;"></div>
        </div>
    </div>

    <script>
        function appointmentForm() {
            var x = document.getElementById('appointmentForm');
            if (x.style.visibility === 'hidden') {
                x.style.visibility = 'visible';
            } else {
                x.style.visibility = 'visible';
            }
        }
        function appointmentexit() {
            var x = document.getElementById('appointmentForm');
            if (x.style.visibility === 'visible') {
                x.style.visibility = 'hidden';
            } else {
                x.style.visibility = 'hidden';
            }
        }
    </script>

</body>