<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<link rel="icon" href="images/logoFormWhite.png">
	<title>MedHealth -  Doctors</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
	<!--<link rel="stylesheet" type="text/css" href="../css/materialize.css"> -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/materialize.js"></script>
	<script type="text/javascript" src="js/MedHealth.js"></script>
	<!-- fuentes -->
	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

	<style>
		#map {
		  height: 460px; 
		  width: 40%;
		  left: 60%;
		  transform: translateY(38%);
		 }
	  </style>

</head>
<body>
    <div class="container">
        <div>
            <div class="NAVBAR">
				<div>
					<a href="index2"><img src="/images/logo.png" class="picpref responsive-img"></a>
					
					<hr>					
				</div>

				<p class="textoNavBar">MEDHEALTH</p>

				<p id="date">Date: <%=day%> / <%=month%> / <%=year%></p>

				<div id="av" onclick="hideav()">
					<img src="images/UserAv.png" width="75%" height="75%" onclick="hidename()">
					<p id="avtxt"> <%= fullName %> </p>
				</div>

					<div id="avconfdisp">
						<img src="images/avconf.png" width="80%" height="80%">
						<div>
							<div id="imgadd">
								<img src="images/add.png" height="10%" width="10%">
							</div>

							<p id="textconfdisp1"><%= fullName %></p>
							
							<p id="textconfdisp2">Status:<p id="textconfdisp3"><%= status %></p></p>

							<p id="textconfdisp5"><%= mail %></p>
							
							<a href="/edit"><div id="editprofile"><p id="edittxt">Edit Profile</p></div></a>
						</div>
					</div>
					
				<div id="lang" onclick="hidelang()">
					<img src="images/DropDownLang.png" height="85%" width="85%">					
				</div>
				
				<div id="langmore"><img src="images/langlist.png" height="100%" width="100%"></div>				

				<div id="location">
					<img src="images/placeholder-filled-point.png" width="5%" height="5%">
					<p id="loctext">Belgrano CABA</p>
				</div>

				<a href="calendar"><div id="calendar"><p id="calendartxt">Calendar</p></div></a>
				<a href="/"><div id="logout"><p id="logouttxt">Log out</p></div></a>

			</div>

			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<form action="" class="" method="POST">
				<div>
					<label>Name:</label>
					<input type="userxtx" name="name" value='<%= name %>'>
				</div>
				<div>
					<label>Last Name:</label>
					<input type="userxtx" name="lastName" value='<%= lastName %>'>
				</div>
				<div>
					<label>Email:</label>
					<input type="userxtx" name="email" value='<%= mail %>'>
				</div>
				<div>
					<label>Password:</label>
					<input type="password" name="password" value='<%= password %>'>
				</div>
				<div>
					<label>Phone number:</label>
					<input type="userxtx" name="phoneNumber" value='<%= phoneNumber %>'>
				</div>
				<div>
					<label>Address:</label>
					<input type="userxtx" name="address" value='<%= address %>'>
				</div>

				<select id="selectpicker" data-style="btn-info" name="doctorType">
					<optgroup label="Specialty">
						<option name="<%= doctorType %>" value="<%= doctorType %>"><%= doctorType %></option>
						<option name="Cardiology" value="Cardiology">Cardiology</option>
						<option name="Dentistry" value="Dentistry">Dentistry</option>
						<option name="Laboratory" value="Laboratory">Laboratory</option>
						<option name="Pediatrics" value="Pediatrics">Pediatrics</option>
						<option name="Radiology" value="Radiology">Radiology</option>
						<option name="Dermatology" value="Dermatology">Dermatology</option>
						<option name="Anesthesiology" value="Anesthesiology">Anesthesiology</option>
						<option name="Neurology" value="Neurology">Neurology</option>
						<option name="Nuclear Medicine" value="Nuclear Medicine">Nuclear Medicine</option>
						<option name="Gynecology" value="Gynecology">Gynecology</option>
						<option name="Urology" value="Urology">Urology</option>
						<option name="Pathology" value="Pathology">Pathology</option>
						<option name="Psychiatry" value="Psychiatry">Psychiatry</option>
						<option name="Physical Medicine" value="Physical Medicine">Physical Medicine</option>
						<option name="Internal Medicine" value="Internal Medicine">Internal Medicine</option>
						<option name="Preventive Medicine" value="Preventive Medicine">Preventive Medicine</option>
						<option name="Emergency Medicine" value="Emergency Medicine">Emergency Medicine</option>
						<option name="Allergy & Immunology" value="Allergy & Immunology">Allergy & Immunology</option>
						<option name="Tomography" value="Tomography">Tomography</option>
						<option name="Ecography" value="Ecography">Ecography</option>
						<option name="Toxicology" value="Toxicology">Toxicology</option>
						<option name="M.R.I." value="M.R.I.">M.R.I.</option>
						<option name="Sexology" value="Sexology">Sexology</option>
					</optgroup>
				</select>

				<input type="submit" class="" value="Update Profile" name="action">
				<input type="submit" class="" value="Delete Profile" name="action">
			</form>
        </div>
	</div>
</body>
</html>